.App {
  text-align: center;
  background-color: rgb(241, 241, 241);
  height: 100vh;

}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.App-header {
  display: flex;
  justify-content: center;
  color: rgb(242, 241, 253);
  background-color: rgba(3, 28, 250, 0.89);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.divlogin {
color: rgb(64, 8, 218);
background: rgb(245, 235, 234);
height: 100vh;
width: 50%;
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center;
}
.imginicio {
  width: 180px;
  height: 35%;
  border: 5px solid rgb(0, 26, 255);

}

input{
  border:1px solid;
  width:180px;
  height:5%;
  margin-left: 40%;
  margin: 70px;
}
.button{
  width: 180px;
  margin-left: 48%;
   height: 75%;
   border: 3px rgb(17, 0, 255);
  
 
}
button{
  background-color:rgb(164, 231, 6);


  width: 300px;
  height: 50px;
  border-radius: 50px;
  color: rgb(202, 202, 187);
}